body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1500px;
    margin: 10px auto;    
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-button {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.form-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label,
input,
button {
    margin: 5px;
}

a button {
    padding: 5px 10px;
}

.edit-button,
.delete-button {
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-button{
    background-color: #4CAF50;
}
.delete-button {
    background-color: #f44336;
}

.image-preview {
    max-width: 100px;
    max-height: 100px;
}

