* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

body {
  color: #262626;
}

.center {
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.flex-row,
.flex-row * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.white {
  color: white;
}

.header-mobile {
  display: none;
}

.logo-break {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown {
  margin-left: 20px;
}

.dropdown-menus p > a{
  text-decoration: none;
  color: black; 
}

.dropdown:last-child {
  margin-right: 20px;
}

.header-misc {
  margin-left: auto;
}

.header-tabs,
.dropdown-menus {
  width: 100%;
}

.dropdown-menus div:last-child {
  margin-left: auto;
}

.profile-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-decoration: none;
}

.header-misc * {
  margin-left: 10px;
}

header .center .flex-row {
  height: 55px;
}

.dropdown:hover p {
  border-bottom: 2px solid #262626;
  display: inline-block;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 23px;
}

.nav-icon li a{
  text-decoration: none;
}

.nav-icon:hover {
  cursor: pointer;
}

.slider {
  background-color: #262626;
  width: 100%;
  height: 35vw;
  margin: 0 auto;
}

.slideshow-container {
  width: 100%;
  height: 35vw;
  position: relative;
  margin: auto;
}

.slideshow-container:hover .slider-prev,
.slideshow-container:hover .slider-next {
  visibility: visible;
}

.slide-number {
  position: absolute;
  padding: 8px 12px;
}

.slide-img {
  width: 100%;
  height: 35vw;
}

.img-wrapper {
  width: 100%;
  height: 35vw;
}

.img-wrapper {
  background-size: cover;
}

#slide-1 .img-wrapper {
  background-image: url("../assets/images/slider/desktop/slider-image-1.jpg");
}

#slide-2 .img-wrapper {
  background-image: url("../assets/images/slider/desktop/slider-image-2.jpg");
}

#slide-3 .img-wrapper {
  background-image: url("../assets/images/slider/desktop/slider-image-3.jpg");
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  color: #ccc;
  background-color: #2e2e2e;
  width: 44px;
  height: 44px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
}

.slider-prev:hover,
.slider-next:hover {
  background: #4e4e4e;
}

.slider-nav {
  position: relative;
  bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider-nav-btn-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  padding-right: 5px;
}

.slider-nav-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: white solid 1px;
  margin: 0 2px;
  cursor: pointer;
}

.active,
.slider-nav-btn:hover {
  background: white;
}

#play-pause-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../assets/images/slider/nav/pause-white.png");
  background-size: cover;
  cursor: pointer;
}

/* .grid-container {
  height: 250vw;
  display: grid;
  margin: 2px;
  grid-template-rows: repeat(27, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  margin: 2px;
  width: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.grid-item .img-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
} */

/* .info-box {
  position: relative;
  width: 50%;
  color: white;
  background-color: #107c10;
} */

/* .info-box-heading {
  font-size: 32px;
  font-weight: bold;
}

.info-box-highlight {
  background-color: #ffd800;
  font-size: 13px;
  font-weight: 400;
  color: black;
  padding: 1px 5px;
  letter-spacing: 0.075em;
}

.info-box-highlight:hover {
  cursor: pointer;
}

.info-box .container {
  position: absolute;
  top: 50%;
  padding: 0 3vw;
  transform: translate(0, -50%);
} */

.info {
  position: absolute;
  bottom: 3vw;
  left: 0;
  padding: 16px 12px;
  padding-left: 3vw;
}

.white .underline-hidden {
  border-bottom: 2px solid rgb(255, 255, 255, 0);
}

.white .underline-hidden:hover {
  border-bottom: 2px solid rgb(255, 255, 255, 1);
}

.slide .info {
  padding: 0;
  bottom: 0;
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: auto;
}

.slide .info .container {
  position: absolute;
  top: 50%;
  left: 12vw;
  transform: translate(0, -50%);
}

.info-right {
  position: relative;
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.info-right .container {
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translate(0, -50%);
}

.slide .info-right .container {
  right: 12vw;
}

.info-heading {
  font-size: 46px;
  font-weight: bold;
  line-height: 56px;
  padding-bottom: 20px;
}

.slide .info-heading {
  font-weight: bold;
}

.info-text {
  font-size: 20px;
  padding: 20px 0;
}

.slide .info-text {
  font-size: 28px;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  cursor: pointer;
  width: fit-content;
}

.call-to-action-text {
  font-size: 15px;
  font-weight: 500;
}

.info-box .container .call-to-action .underline-hidden {
  border-bottom: 2px solid rgb(255, 255, 255, 0);
}

.info-box .container .call-to-action .underline-hidden:hover {
  border-bottom: 2px solid rgb(255, 255, 255, 1);
}

.call-to-action-highlight .underline-hidden {
  border-bottom: 2px solid rgb(255, 255, 255, 0);
}

.call-to-action-highlight .underline-hidden:hover {
  border-bottom: 2px solid rgb(255, 255, 255, 1);
}

.call-to-action-highlight {
  display: flex;
  flex-direction: row;
  background-color: #107c10;
  padding: 10px;
  padding-left: 20px;
  color: white;
}

.follow {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 15px;
}

.follow p {
  padding-right: 10px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #616161;
}

.follow img {
  padding-right: 5px;
  cursor: pointer;
}

footer {
  background-color: #f2f2f2;
}

table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 30px 0;
  color: #616161;
}

th {
  font-size: 15px;
  line-height: 20px;
}

td {
  padding: 8px 0;
  padding-right: 50px;
  cursor: pointer;
}

td span {
  font-size: 11px;
  line-height: 16px;
}

.bottom-tags,
.bottom-tags * {
  display: flex;
  flex-direction: row;
  font-size: 11px;
}

.location {
  cursor: pointer;
}

.location img {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 4px;
}

.tags {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tags * {
  margin-right: 25px;
  cursor: pointer;
  min-width: 75px;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: #9bf00b;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #107c10;
}

#back-to-top img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.underline-hidden {
  border-bottom: 2px solid rgb(0, 0, 0, 0);
}

.underline-hidden:hover {
  border-bottom: 2px solid rgb(0, 0, 0, 1);
}

@media (min-width: 1400px) {
  .info-box-heading {
    font-size: 34px;
  }
}